[2017-06-16 13:42] federicobond opened #1 "Add support for inline assembly"

[2017-06-16 13:42] federicobond opened #2 "Add support for indexed keyword in parameter lists"

[2017-06-17 01:45] federicobond opened #3 "Add tests for different options"

[2017-06-17 19:36] #3 closed

[2017-06-18 02:42] #1 closed

[2017-06-18 21:00] federicobond opened #4 "Add support for function typenames"

[2017-07-06 03:01] federicobond commented on #2
Fixed.

[2017-07-06 03:01] #2 closed

[2017-07-06 03:18] federicobond commented on #4
Fixed.

[2017-07-06 03:18] #4 closed

[2017-07-12 20:59] cgewecke opened #5 "'from' errors as a VariableDeclaration name"
Parser errors on this line in Zeppelin's [ERC20.sol](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC20.sol#L13)
[code]
Triggered by the [Identifier rule](https://github.com/federicobond/solidity-parser-antlr/blob/master/Solidity.g4#L266)?

(I'm installing directly from the repo).

[2017-07-12 21:55] cgewecke opened #6 "Errors on parameters with storage or memory location"
From aragon-core [here](https://github.com/aragon/aragon-core/blob/master/contracts/apps/basic-governance/VotingApp.sol#L143)
[code]
Error is:
[code]

Possible fix at [this rule](https://github.com/federicobond/solidity-parser-antlr/blob/master/Solidity.g4#L83), and it's management [here](https://github.com/federicobond/solidity-parser-antlr/blob/master/src/ASTBuilder.js#L612-L633)?

Federico, I d

[2017-07-13 01:05] federicobond commented on #5
Thanks for the report. I have a fix for this in the works. Will update soon.

[2017-07-13 01:28] cgewecke opened #7 "Parse left shift / right shift"
Just one more:
[code]
errors with:
[code]

FWIW I ran Zeppelin, Melonport, Chronobank, Bancor, & Gnosis through the parser and issues 5,6,7 are the only things that came up. Looks good!

[2017-07-13 02:19] federicobond commented on #5
Fixed in 47f594ce508532280bbb76b695cd971c30d98868.

[2017-07-13 02:19] #5 closed

[2017-07-13 02:19] federicobond commented on #6
Fixed in a720198d59eda8c9b496ba76e98b3c7846ab62bc.

[2017-07-13 02:19] #6 closed

[2017-07-13 02:41] #7 closed

[2017-07-13 02:45] federicobond commented on #7
Just published a new version (0.1.0) with these issues fixed.

[2017-07-13 03:05] cgewecke commented on #7
Thanks!

[2017-07-13 17:31] federicobond opened #8 "Improve parsing of inline assembly"
The grammar rules for inline assembly changed with cef1d0beac8a19d0ec49ee4132197b517c61428a.

We should update the AST builder accordingly.

[2017-07-14 17:04] federicobond opened #9 "Add missing location information to some AST nodes"
AST nodes that are built manually inside ASTBuilder functions do not contain location information.

[2017-07-15 01:26] #9 closed

[2017-07-15 01:26] #8 closed

[2017-07-21 05:00] federicobond opened #10 "Parse NatSpec documentation tags"

[2017-10-27 00:15] sohkai opened #11 "Submodule solidity-antlr4?"
It might be nice to have a single grammar of truth rather than maintain two copies here and in [solidity-antlr4](https://github.com/solidityj/solidity-antlr4).

[2017-10-27 02:52] federicobond commented on #11
Yes! Would love to have that. Feel free to send a pull request if you have the time.

[2017-11-22 23:48] federicobond commented on #11
Closed in #13

[2017-11-22 23:48] #11 closed

[2017-11-29 13:27] duaraghav8 opened #14 "Information loss in BinaryOperation when both sides are TupleExpression"
code:
[code]
[code]

In above scenario, accessing the node `expression.left` gives info about `foo` & `bar` as 2 array items.
The problem is that after parsing, we loose the comma info in the tuple and therefore the ability to map the Identifier with its corresponding value.

Is there a work-around for this (I'm trying to avoid using my custom RegExp on the code string)?

(I'm not sure if this is

[2017-11-29 16:00] federicobond commented on #14
Yes! Sorry about that, I should replace each missing array element with a null in the resulting AST. I'll push a fix soon.

[2017-11-29 17:10] duaraghav8 commented on #14
[code]

in above case, `expression.left`:

[code]

@federicobond  I think the middle ones are being generated fine, but the `null`s on the extremes accumulate all the commas into a single null. There should've been 2 `null`s at start & end if you see how the commas are placed in the code.

[2017-11-29 17:27] federicobond commented on #14
Good catch. What about now?

[2017-11-29 17:28] federicobond commented on #14
Wait, no, I made another mistake.

[2017-11-29 18:00] federicobond commented on #14
OK, should be working.

[2017-11-29 19:37] #14 closed

[2017-11-30 01:05] duaraghav8 commented on #14
ah yes not it does, thanks!

[2017-12-26 16:07] duaraghav8 opened #15 "pragma statement parse error when verison doesn't follow A.B.C pattern"
[code]

All of the above are syntactically correct pragma statements (feel free to test in remix). But parser only recognises version `a.b.c`. We need to make the `b` & `c` part optional, not mandatory.

[2017-12-26 22:01] federicobond commented on #15
Thanks for the report @duaraghav8! I wasn't aware of the optional version parts. Looks like supporting some of these would require a split of the parser and lexer and the introduction of lexer modes, which I am not sure I want to do right now.

Is there any particular example that is giving you trouble? Perhaps we can handle that case first and then worry about the rest.

[2017-12-27 04:30] duaraghav8 commented on #15
@federicobond no prob, actually none of them trouble me. I happened to come across a codebase that was using `^0.4` in pragma statement and was wondering if it gets parsed.
But this version literal is being used very rarely, so not a high priority issue IMO. most people are using `a.b.c` only. Let's keep the issue open though? So we have a record for the future.

[2017-12-27 07:02] federicobond commented on #15
Sure! I’ll keep it open, no worries 😊

[2018-01-16 17:02] duaraghav8 opened #16 "incorrectly parses abstract func whose name is at the end"
[code]
This code compiles (notice that the function's name is right before semicolon).

Unfortunately I haven't been able to find any literature on the exact rules the compiler follows in this situation. Couldn't find anything helpful in the [solidity grammar](https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt) either.

(This pattern is not used very often, so not a big problem IMO

[2018-01-26 18:40] federicobond commented on #16
Hey! Sorry for the delay. The code you posted is a state variable of function type. This should no longer be an issue with the latest published version, please reopen if that's not the case.

[2018-01-26 18:40] #16 closed

[2018-01-26 18:45] duaraghav8 commented on #16
ah yes, I only [very recently realised](https://github.com/ethereum/solidity/issues/3423) this myself, thanks!

[2018-03-15 16:30] LogvinovLeon commented on #15
This is causing me some troubles. I have a contract that has the version string `~0.4.10` and the parser can't parse that. I've created an issue at a grammar repo: https://github.com/solidityj/solidity-antlr4/issues/15

[2018-04-02 18:30] onbjerg commented on #10
Any thoughts on where you want this? In the AST?

[2018-04-03 03:48] federicobond commented on #10
Yes, ideally the parsed NatSpec object should be inside the AST node of the referenced declaration.

[2018-04-29 20:27] GNSPS opened #17 "Return parameters are not included in the parser"
The AST builder does not include a definition of return parameters, which means that function definitions are lacking the return parameters as well.

[2018-05-01 08:12] elenadimitrova opened #19 "Parse fails for 0.4.23 contracts"
After upgrading contracts to solc `0.4.23` parsing them fails with:

[code]

Suspecting the culprit is the newly introduced `constructor` keyword.

[2018-05-01 10:25] federicobond commented on #17
Closing. Thank you for your contribution!

[2018-05-01 10:25] #17 closed

[2018-05-01 10:26] federicobond commented on #19
Thanks for reporting @elenadimitrova! Can you try the latest version published?

[2018-05-01 10:36] elenadimitrova commented on #19
Confirmed as fixed in `0.2.10`. Thanks for the quick turnaround on solving this!

[2018-05-01 10:36] #19 closed

[2018-05-15 09:22] chmanie opened #20 "Ability to parse NatSpec comments"
First of all thanks for creating this fine tool. It's been helping us a lot already!

In our effort to generate documentation from [Ethereum NatSpec comments](https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format) I decided to take a crack at adding the ability to parse those to this tool. I have to admit I am quite new to Antlr and for quite some time it felt like I was just

[2018-05-15 09:37] federicobond commented on #20
Awesome @chmanie! Can you open a pull request so I can review and merge the changes? Also, please take a look at this (now deprecated) version that the team at Zeppelin did, and let me know if there are some good ideas to take from there.

https://github.com/OpenZeppelin/solidity-docgen/blob/dcb637ecfac2a7a4cd2e2ede0a3e55bd4c6c8841/parser/grammar/Solidity.g4

[2018-05-15 09:39] federicobond commented on #20
Can we open the grammar to accept any identifier in place of a predefined set of keywords for NatSpec specifiers?

[2018-05-15 09:52] chmanie commented on #20
Hey @federicobond! Thanks for checking in. The link to the grammar by OpenZeppelin seems really helpful (it looks like they could solve at least some of the troubles I've had). Will look into that and open PRs once I incorporated some of their ideas.

Seems reasonable. I'll do that!

[2018-05-16 21:11] mattiaerre opened #21 "issue w/ require()"
# Description

we have a parser error if in the contract there is a `require()` function

## How to reproduce

[code]

[2018-05-17 00:54] federicobond commented on #21
Thanks! It's not an issue with `require`, but with the `.01` literal, which is not properly documented in the grammar I think. It's a non-standard way to write these numbers, so I suggest you put a zero before.

[2018-05-17 00:59] mattiaerre commented on #21
oh cool @federicobond that actually fixes my problem 👍 thanks again!

[2018-05-17 00:59] #21 closed

[2018-06-11 21:25] LogvinovLeon opened #23 "Allow multiple variables to be declared as the part of the tuple statement"
Solidity version [0.4.24](https://github.com/ethereum/solidity/blob/develop/Changelog.md#0424-2018-05-16) introduced this syntax:
[code]

Parser currently doesn't support it.
[code]

[2018-06-11 22:49] alcuadrado opened #24 "Parsing errors"
Hi Fede,

I'm opening this issue to track the different parsing errors which I found when creating [this PR](https://github.com/federicobond/solidity-extract-imports/pull/5).

These files can't be parsed:

* https://github.com/0xProject/0x-monorepo/blob/bc0ae6be318a15bf8670a6da9a59d9bdb12cadae/packages/contracts/src/contracts/current/protocol/AssetProxy/ERC20Proxy.sol
* https://github.com/0xProjec

[2018-06-12 01:56] federicobond commented on #24
Thanks! This is related to the recently introduced multi variable definition statements. It has been fixed in master. I will publish an update soon.

[2018-06-12 01:56] #24 closed

[2018-06-12 01:57] federicobond commented on #23
Thank you, this is now fixed in master. I will push an update tomorrow.

[2018-06-12 01:57] #23 closed

[2018-06-12 08:38] federicobond commented on #20
Hi @chmanie! Did you have time to look into it? Would love to see this implemented.

[2018-06-12 10:09] federicobond commented on #23
`0.2.12` has just been published in npm. Let me know if you find any other issues.

[2018-06-12 17:19] LogvinovLeon commented on #23
Thanks! That was fast!

[2018-06-12 18:31] chmanie commented on #20
I haven't had time lately. This turned into a bigger priority for us now, so I'll probably work on that in the next few days.

[2018-06-13 13:09] blargity opened #25 "Publish an ES5 version of this package"
Hi there!

I'm trying to use this module in a Create React App application. It works fine when I run it in development mode, but when I try to create a production build I get this:

[code]

There are 2 main approaches given on that bit.ly link to fix it.

## Option 1: Publish an ES5 version of the module.

I tried to fix the problem myself with Rollup and Babel, but I'm getting a lot of problems w

[2018-06-13 13:37] blargity commented on #25
I think I found a really simple solution in #26, so I'm going to close this issue.

[2018-06-13 13:37] #25 closed

[2018-06-14 00:36] alcuadrado opened #28 "Building the AST sometimes fails, throwing an exception"
I'm afraid I don't know how to fix this issue, so no PR this time :(

Some invalid sources make the parser fail when building the ast, because [this method throws](https://github.com/federicobond/solidity-parser-antlr/blob/master/src/index.js#L57).

For example, this code `contract { function a() return bool {} }` causes that problem.

Here's a stack trace of it failing:

[code]

[2018-06-14 01:53] federicobond commented on #28
Yes, this is the unfortunate result of trying to build an AST using tolerant mode. If the toleration extends beyond simple things like missing a semicolon into full parts of the tree missing (like the identifier with the contract name in this case) then we have to guard against that everywhere.

We should check if this is only a problem in the places where we are accessing getText() or requires a

[2018-06-14 02:46] alcuadrado commented on #28
Thanks for the quick answer and fix fede 🙌🏻

[2018-06-14 09:36] federicobond opened #29 "Add tests for tokenize function"

[2018-06-24 17:38] ferranbt opened #30 "Array variables not parsed correctly"
The next code (version 0.2.12):
[code]

generates the output:

[code]

The type of the variable 'a' is 'ElementaryTypeName' instead of  'ArrayTypeName'.

[2018-06-26 09:22] Yimin-Yang commented on #30
I also found this problem.

Given the code:
[code]
the parser generates:
[code]

The type of myAddress2 should not be ElementaryTypeName.

[2018-06-26 20:36] federicobond commented on #30
Thanks! This should be fixed in latest master. Can you try the changes and let me know if there is anything wrong?

[2018-06-26 20:36] #30 closed

[2018-06-29 01:47] blargity opened #31 "NPM Package out of Date"
Howdy,

Sorry for the noise, but I'm just wondering if we could we get the latest version of the package that's ES5 transpiled published up to NPM? I'm depending on my fork still in my project and would love to depend on the vanilla NPM package.

[2018-06-30 11:13] federicobond commented on #31
Yes! You should find `0.2.14` available shortly on npm.

[2018-06-30 11:13] #31 closed

[2018-07-06 16:57] federicobond commented on #20
Hi @chmanie, this is starting to become more of a priority for me too. Are you still working on it?

[2018-07-06 17:12] federicobond opened #32 "Add support for a Concrete Syntax Tree"
See https://github.com/estree/estree/issues/41 and the https://github.com/cst/cst package for more information.

[2018-07-12 19:02] golivax opened #33 "Error parsing decimal"
Hi Federico. I'm trying to parse a solidity file and I'm getting an error at the following line:

`minContribution = .1 ether;`

From what I could dig, I think this statement violates the DecimalNumber element of the grammar, as it needs to start with a number ([0-9]+):

[code]
This statement is part of the source code of a contract running on Ethereum (https://etherscan.io/address/0x009ef15c147ff

[2018-07-15 03:10] federicobond commented on #33
Yes, this was a known issue to me for some time. Thanks for bringing it up!

I will push an update shortly, stay tuned.

[2018-07-15 03:31] #33 closed

[2018-07-17 17:10] golivax opened #34 "Error parsing return statement"
Hi Federico. I noticed the parser throws an error when parsing a return statement written like this "return();". Again, I've seen contracts running on Ethereum that use this statement, so I think it's syntactically valid. But again, I'm a newbie in Solidity, so I might be wrong. Would you mind looking into this? Thanks!

[2018-07-17 17:34] federicobond commented on #34
Indeed, even if it's horrible style, it's apparently syntactically valid. I have fixed this in https://github.com/federicobond/solidity-parser-antlr/commit/be35e6830f3019f58e48a6c441c0da23fd1136f2 and will include it in the next release.

[2018-07-17 17:34] #34 closed

[2018-07-17 17:36] golivax commented on #34
Awesome, tks!

[2018-07-17 17:38] federicobond commented on #34
Thanks for reporting @golivax!

[2018-07-19 00:16] maurelian opened #35 "How to implement this for Vyper?"
Hi @federicobond!

I'm interested in replicating this lib for vyper. These are the steps I think that would require, would appreciate if you can point out any big pieces I'm missing, or pitfalls I might not be seeing?

1. Create a similar [g4 file](https://github.com/solidityj/solidity-antlr4/blob/master/Solidity.g4) based on the vyper grammar (this is probably the hardest part)
2. Change the [tes

[2018-07-19 00:45] federicobond commented on #35
No, that’s pretty much it. There are also the unit tests which assert more fine-grained components of the parser.

I suggest you use the ANTLR plugin for IntelliJ IDEA to test and debug the grammar before moving to the JavaScript AST building part.

[2018-07-19 00:45] #35 closed

[2018-07-19 01:10] maurelian commented on #35
Amazing, thanks!

[2018-08-05 22:02] JisuPark opened #36 "returning original node from visitor"
First of all, thank you for the awesome project!

I suggest enhancing [transformAST](https://github.com/federicobond/solidity-parser-antlr/blob/master/src/ASTBuilder.js#L40) to return not only the parsed one but also the original one.

Similar to [Javaparser](http://javaparser.org/) project, if we want to support `Transform` and `Generate` the solidity code, returning original node is essential.

[2018-08-13 00:28] federicobond commented on #36
@JisuPark hey! sorry about the late response.

I'm not sure what you mean by the original code, but I am wary of exposing such implementation details to the public interface. I believe adding a Concrete Syntax Tree modeled after the JS one should be the way to go here, but any feedback is appreciated.

[2018-08-13 07:36] JisuPark commented on #36
@federicobond Thanks for the reply!

Now I see your point. I thought current [node](https://github.com/federicobond/solidity-parser-antlr/blob/master/src/ASTBuilder.js#L177) arguments are too solid to develop a variety of visitor.

When I wanted to extract only function declaration in the source, it was hard because I had to reassemble from the argument `node` of the visitor. (Let me know if there

[2018-08-13 13:15] federicobond commented on #36
@JisuPark can you provide a piece of code of what you would like to achieve with this library? Better if it is in the form of a pull request with a failing test case. Let’s forget about the implementation for now and understand the API.

[2018-08-28 15:19] thakkarparth007 opened #37 "Unable to parse hex literal where 0X is used."
Hi, many contracts are using 0XABC as a hex literal but the grammar only allows for 0xABC, because of this parsing of a lot of contracts is failing. Remix IDE allows 0X, so I guess it should be allowed here as well, right?

[2018-09-02 05:33] federicobond commented on #37
Fixed. Please try version 0.3.2 and report any errors you find.

[2018-09-02 05:33] #37 closed

[2018-10-15 18:45] MKmknd opened #38 "Error parsing function modifiers."
Hi Federico.

Thank you for creating this awesome tool! It’s been helping me a lot.

When I tried to parse a contract like the following, the parser parsed the code including an error:

[code]

[code]

This error is occurred because of underscore (indeed, if we remove the underscore, the parser would not report the error).
The underscore is a part of the source code of a contract running on Ethere

[2018-10-17 00:59] federicobond commented on #38
Hi @MKmknd, the parser is failing because you are missing a semicolon after the underscore placeholder.

[2018-10-17 14:16] MKmknd commented on #38
Thank you for the reply. You are right.
I checked the release note. Then I found that after version 0.4.0, we need to add semicolon after underscore...
Thank you very much!!

[2018-10-17 14:16] #38 closed

[2018-10-21 16:24] fvictorio opened #39 "Should the loop expression of a ForStatement be an ExpressionStatement?"
The loop expression of the for statement gest the type `ExpressionStatement` added:

https://github.com/federicobond/solidity-parser-antlr/blob/ded9c7032a20b4d17eb3363ed6f5542e8e976024/src/ASTBuilder.js#L690-L693

This is causing issues in prettier-solidity, where is difficult to know if an ExpressionStatement should have a semicolon or not (see https://github.com/prettier-solidity/prettier-plugin

[2018-10-23 02:31] federicobond commented on #39
Internally, the reference implementation of Solidity uses an ExpressionStatement, so I would approach this change carefully.

The definition of ExpressionStatement is an expression followed by a semicolon though. If it’s difficult to special case this in prettier then I’m open to accepting a pull request to update the parser. Make sure you include the change in the changelog too.

[2018-12-21 21:50] svechinsky opened #40 "Releae a version with the latest fix to address payable"
Hi,
Is there any way to release the current master branch of the parser to npm?
The lack of address payable is blocking https://github.com/prettier-solidity/prettier-plugin-solidity

[2019-01-03 19:44] fvictorio opened #42 "Fails when an event parameter is called 'calldata'"
A contract like this can be compiled:

[code]

but the parser fails:

[code]

I guess it's related with `calldata` being a reserved word in other contexts.

The parser seems to work fine when a _function_ parameter is called `calldata`.

[2019-01-04 15:49] federicobond commented on #42
I could not compile the contract you mentioned in Remix. Can you double check its valid Solidity code?

[2019-01-04 20:15] fvictorio commented on #42
I can compile it using `0.4.24`.

[2019-01-08 02:54] fvictorio opened #43 "Differentiate parenthesized expression from tuple expression"
The parser doesn't seem to differentiate between the left side of this expression:

[code]

and this one:

[code]

In both cases I get an `ExpressionStatement` whose left side is:

[code]

Is this expected?

[2019-01-25 15:10] 0Alic commented on #20
Hi, is this issue still open?
It would be very interesting

[2019-01-25 15:38] chmanie commented on #20
I'm sorry, I currently don't have the time to actively work on this.

[2019-01-25 16:40] 0Alic commented on #20
No worry, thanks for the answer!

[2019-02-16 16:19] tungduonghgg123 opened #45 "Problem with condititonExpression ForStatement"
When initExpressions and conditionExpression are missing:
for(     ;     ; i++) {
     // some code
}
 The parser treats loopExpression as condititonExpression and loopExpression as null instead of leaving condititonExpression null.
![image](https://user-images.githubusercontent.com/32666311/52902350-03883800-3242-11e9-80a1-3a31e981c54f.png)

[2019-02-16 18:54] federicobond commented on #45
Just pushed a fix to the `master` branch. Let me know if it works for you.

[2019-02-16 18:54] #45 closed

[2019-02-17 02:07] tungduonghgg123 commented on #45
I don't know the best way to test because you haven't push the new to npm yet, so I clone the code and run a test in the test folder ( Please tell me if I can do it more professional ).
 I test this:
`
contract SimpleStore {

constructor() public {
    for( ; ; i++) {
    	helloWorld();
    }
  }

}`
 and It is the same bug as above

[2019-02-20 14:45] tungduonghgg123 commented on #45
It didn't work!

[2019-02-20 17:03] federicobond commented on #45
I just checked the same piece of code and both initExpression and conditionExpression are set to null. Only loopExpression is set to the i++ ExpressionStatement. I will cut a release soon so you can better test it.

[2019-02-20 22:49] LogvinovLeon opened #46 "Fix assembly assignments parsing"
Solidity accepts both options. This parser fails on first one and only accepts the second one.
I know it's minor nit, but would be still good to accept both.

<img width="654" alt="screen shot 2019-02-20 at 2 48 14 pm" src="https://user-images.githubusercontent.com/6204356/53130266-9c5ad400-351e-11e9-8adb-a5c44f7fe30a.png">

[2019-02-21 00:25] federicobond commented on #46
<img src="https://user-images.githubusercontent.com/138426/53134304-6dac2000-3555-11e9-9c07-2a6272763d74.png" width="400" height="400" />

[2019-02-21 00:42] federicobond commented on #46
@LogvinovLeon good catch! Is this documented behaviour? Or just an oversight on the part of the Solidity team? Is there any mention of this in the issues or docs for ethereum/solidity?

[2019-02-21 17:52] LogvinovLeon commented on #46
@federicobond I don't think it's documented. And I think it's a mistake it supports it. Maybe this should be an issue on a solidity repo instead

[2019-02-21 17:55] federicobond commented on #46
Yeah, let's open an issue in the Solidity repo and see if they are willing to tighten things up a bit. I don't think many users expect it to work that way.

[2019-02-21 18:11] federicobond commented on #45
Hi @tungduonghgg123, can you try out the latest release and tell me if it works?

There is a [test case](https://github.com/federicobond/solidity-parser-antlr/blob/052ef258ae31b3c690288358814094fd7540431b/test/ast.js#L756-L777) covering this too. If you are still having issues, I encourage you to submit a pull request with a failing test case.

[2019-02-21 19:29] yxliang01 opened #47 "[Question] automatically generating typing from concrete output or ANTLR grammar?"
This issue is to discuss the possibility of having the typing for the output of the parser automatically generated. Currently, the typing file at https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/solidity-parser-antlr/index.d.ts is more or less manually written and is very incomplete. Since the output is very structured, I feel like this is doable. However, I haven't figured out

[2019-02-22 00:18] federicobond commented on #47
Hi @yxliang01, thanks for bringing this up! I don't see a simple way of generating that sort of type information automatically, but I am more than willing to bring the type definitions into this repo so that they can be updated with less bureaucracy and kept up-to-date with any implementation changes.

Could you open a pull request to begin that effort?

[2019-02-22 12:44] yxliang01 commented on #47
@federicobond Sure. It sounds good. I will do it tomorrow. But, since you are aware of this typing thing going on, would you think it's a good idea to bring the typescript tool chain to this project and we simply annotate the types incrementally? This way might some make this library even less error-prone and we sometimes might get benefit from the typescript compiler's type inference. What do you

[2019-02-22 14:26] tungduonghgg123 commented on #45
@federicobond
It works as expected!  👍

[2019-02-22 14:51] federicobond commented on #47
I think it's a good idea but I would like to do it in two phases. First, bring the type definitions as an independent file, then consider moving the codebase to TypeScript.

[2019-02-24 19:35] yxliang01 opened #48 "Typescript type definition"
Typescript is getting popular nowadays. In order for projects making use of this project getting benefits from the typing, a type definition is necessary for this library. This issue is to track the progress of such effort. There are already efforts on creating types for this library at https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/solidity-parser-antlr . However, after disc

[2019-02-24 19:39] yxliang01 commented on #47
@federicobond Please see https://github.com/federicobond/solidity-parser-antlr/issues/48 and the created PR as the begin of this effort.

[2019-02-26 14:24] yxliang01 commented on #47
I had a deeper look at the ANTLR grammar and feel like it doesn't really define the structural constraint of the Solidity language. So, it indeed doesn't look like we can just "convert" the grammar to TS types. But, now I see a possibility that we might be able to convert from the quite complete test at https://raw.githubusercontent.com/federicobond/solidity-parser-antlr/master/test/ast.js (Thanks

[2019-02-26 16:11] yxliang01 commented on #47
@LogvinovLeon Would you like to describe how you created these types previously? Was it automatically generated?

Were you simply converting from https://github.com/federicobond/solidity-parser-antlr/blob/5cbebf9ee879500bc76db52fde77c33c37a266d0/src/lib/SolidityParser.js#L689 ? Since I see some of the types I can't see the output statements of them in this library codebase (e.g. `Expression`, `Sim

[2019-02-26 16:36] LogvinovLeon commented on #47
I did parse a rather complex contract and iterated over the generated AST to generate those.
Didn't define all the properties there as I didn't need them at the time for my use-case.

[2019-02-26 18:24] federicobond commented on #47
@yxliang01 that's correct. ANTLR outputs a parse tree (which is a version of a concrete syntax tree). Most of the code of this library is dedicated to transforming that parse tree into an AST.

[2019-02-26 20:03] yxliang01 commented on #47
@federicobond Are you also confirming that `Expression` and `SimpleStatement` are not part of the output AST of this library? If so, I will fix it soon.

[2019-02-26 22:24] federicobond commented on #47
I think so, yes.

[2019-02-27 11:22] maxsam4 opened #50 "`abi.decode(b, (uint256[]))` breaks parser."
`a = abi.decode(b, (uint256[]));` breaks the parser.

Any array inside the tupple breaks the parser. It is valid solidity code though.

Full sample code
[code]

[2019-02-27 23:06] federicobond commented on #50
Thanks for reporting this! I just pushed a fix to `master`. Can you try it out and let me know if it works for you?

[2019-02-27 23:06] #50 closed

[2019-02-28 04:47] maxsam4 commented on #50
Thanks for the quick fix. It is working as expected now.

[2019-03-02 23:05] yxliang01 opened #51 "export _isASTNode"
Since the AST format of this library is customized, I feel exporting the function `_isASTNode` is generally favored as it guarantees that when the format of output of this library changes, this check will/should always be up-to-date.

[2019-03-06 16:56] federicobond commented on #51
Hi @yxliang01, can you describe some use cases for this function? I'm not sure I understand well how it would be used.

[2019-03-06 17:41] yxliang01 commented on #51
@federicobond Like if you want to write a custom traverser of the AST tree, this function can provide information like whether an attribute of a node is yet another AST node (This is actually my case). While the current definition of this function is very simple, it's really useful :) and I feel it's a good idea to export this.

[2019-03-06 22:27] federicobond commented on #51
I understand your concern. However, I would suggest to just check if the node is an object and has a `type` key for now, as that should be considered part of the stable interface of this parser. If any other issues come up related to this, I am willing to reconsider that decision.

[2019-03-06 22:30] federicobond commented on #51
I think we can take this opportunity to introduce a better traverser. Please let me know what constraints are driving your custom traverser implementation, as we might be able to do something on that front.

[2019-03-07 02:59] yxliang01 commented on #51
@federicobond I basically need the object path of each AST node in the AST tree. So that, I can directly visit the previous node visited node by the object path. I deal with it by adapting the `visit` myself, so that this information is tracked and passed to the `visitor`. I think this usage might be specific though.

[2019-03-07 10:58] area opened #53 "Issues with assembly function declarations"
There seems to be an issue with Assembly Function Declarations. All of the following are valid according to remix, but this parser seems to only successfully parse the first one:

[code]

[code]

[code]

[2019-03-07 15:15] federicobond commented on #51
That is a pretty common usage. The format of the AST is be esprima-compatible, so preprocessing it with something like [ast-parents](https://github.com/hughsk/ast-parents) should work well too.

[2019-03-07 16:23] yxliang01 commented on #51
I see. Thanks for pointing this. But, this is quite inefficient given that need to traverse the AST for once more and increases memory space by quite much I feel.
So, do you mean that it's a good idea to pass the object path information to visitors by commenting it's a common usage? Or?

[2019-03-07 17:59] federicobond commented on #53
Thanks for reporting this! It should be fixed in latest `master`. I will cut a release in the next few days.

[2019-03-07 17:59] #53 closed

[2019-03-12 13:42] yxliang01 commented on #51
@federicobond any suggestion for what should be done for this issue? Otherwise, this will be stale :(

[2019-03-12 15:07] federicobond commented on #51
Hey! Sorry, my last few days have been pretty hectic. I think the lib could implement this functionality by passing a second argument to each visit call, with the appropiate parent chain. Would be happy to review a pull request to that end.

As for checking whether something is an AST node, I think you can safely rely on a check for an object with a `type` property.

[2019-03-12 15:36] yxliang01 commented on #51
@federicobond  I am also happy to contribute to that :) . Will do it bit latter after I have done my current important tasks.

[2019-03-12 15:38] yxliang01 commented on #51
To be sure, @federicobond did you mean passing the parent node object to the visitor? Or, the object path for the whole AST(my need)?

[2019-03-12 16:09] federicobond commented on #51
Yes, passing the full object path makes a lot of sense.

[2019-03-13 17:42] yxliang01 opened #54 "bug: line comment cannot be parsed"
Give a very simple example, if I add a `//` followed by a newline to a correctly written contract, current version gives `ParseError` with message `extraneous input \'/\' expecting {<EOF>, \'pragma\', \'import\', \'contract\', \'interface\', \'library\'} (1:0)`. This happens regardless where the comment is put.

[2019-03-13 18:10] federicobond commented on #54
Hi @yxliang01, can you provide a complete code example that fails? I could not reproduce this.

[2019-03-13 18:14] yxliang01 commented on #54
@federicobond As requested:
[code]

[2019-03-13 18:17] yxliang01 commented on #54
In contrast, the following can be parsed successfully.

[code]

[2019-03-13 18:45] federicobond commented on #54
Sorry, I am still unable to reproduce it :(

Can you provide an full example similar to this one that fails?
https://runkit.com/federicobond/test-parser

[2019-03-13 19:03] yxliang01 commented on #54
Hmm sorry that after debugging, I realized that the file content in memory has `//` all replaces with `/`. Looks like it has something to do with the inter-component communication of my system. Sorry for the false bug report. @federicobond

[2019-03-13 19:03] #54 closed

[2019-03-13 20:08] federicobond commented on #54
No worries.

[2019-03-27 14:33] TimDaub opened #55 "UserDefinedTypeName needs to be address payable"
My contract has the following constructor

[code]

I'd like to use `web3.eth.abi.encodeParameters` to encode my constructor parameters.
With solidity-parser-antlr, I'm getting the following result for my contract's constructor parameters however:

[code]

The solidity documentation states that when a fallback function is available on the contract, then the Contract Type should be converted to an `

[2019-03-27 15:47] federicobond commented on #55
Hi Tim, the process of getting the actual type behind a type name is called type resolution. To resolve types in your case you would need to find any imports, parse those files into ASTs and then go looking for contracts/interfaces matching the names you want to resolve. Then include the `payable` qualifier if there is a fallback function in that contract.

You would need to perform this pass befo

[2019-03-27 18:00] federicobond commented on #55
Check this out and let me know if this works for you: [solidity-type-resolver](https://github.com/federicobond/solidity-type-resolver)

[2019-04-03 14:41] #55 closed

[2019-04-06 23:26] obernardovieira opened #57 "Returning only contract and params (no func) when calling it in another method"
Hi,
Sorry If I was not clear with the title, I don't know how to explain the problem, TBH.

So, going directly into the problem, this https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC721/ERC721.sol#L273 using the code below, returns the result shown in the end. I was looking at the solidity-antlr4 repository and it seems to not be catching that use case and in f

[2019-04-07 00:26] federicobond commented on #57
HI @obernardovieira, without looking at the whole AST it's hard to know what's going on. I think you should see a parent node FunctionCall with name `onERC721Received` that takes that function call as expression, but I could be wrong. Let me know if that helps.

[2019-04-07 10:50] obernardovieira commented on #57
Hi @federicobond thanks for the quick answer, and thanks for this package btw.
You right, I was not clear.
So I put everything together and I realized I was doing one thing wrong, which was `fDef.body.statements.forEach((fLink) => {` because I actually don't need it, so I removed and updated `parser.visit(fLink, {` to `parser.visit(fDef, {` and it actually catches *IERC721Receiver* again.
[code]
W

[2019-04-08 17:44] federicobond commented on #57
Not sure I understand you correctly. Examining the full contract AST in the console should help you understand where to look for. If the piece you are looking for it's not there, please describe the AST output you are getting and what you would have expected to see.

[2019-04-09 23:02] obernardovieira commented on #57
Hi, I can confirm, I missing one thing. Thanks.
On the other hand, the ConstructorDefinition returns nothing and the constructor is actually returned as FunctionDefinition with an "isConstructor" variable as true. Is it a known problem?

[2019-04-09 23:09] federicobond commented on #57
Where did you see this ConstructorDefinition?

[2019-04-10 08:32] obernardovieira commented on #57
Well, here https://github.com/solidityj/solidity-antlr4/blob/edce5c44d2d681e32bb23034d822bf0fcf1cb43e/Solidity.g4#L65

[2019-04-10 13:14] federicobond commented on #57
Ahh right, AST names are different from ANTLR parser rules. You can have a `function MyContract {}` which would be a FunctionDefinition according to ANTLR but is another form of constructor.

[2019-04-10 13:14] #57 closed

[2019-04-10 19:35] obernardovieira commented on #57
I know, but what about `constructor() {}`? How can I catch it?

[2019-04-10 19:45] federicobond commented on #57
The node for function `MyContract {}` has a `name` key with "MyContract" as value, whereas in `constructor() {}`, `name` is null.

Please try different sources and review the full generated AST. You should be able to get most of your answers from there.

[2019-04-18 21:39] Leeleo3x opened #60 "VariableDeclaration ASTNode"
Can `VariableDeclaration` be simplified? Currently, `VariableDeclaration` contains many redundant information.

For example, `isStateVar`, `visibility`, and `isDeclaredConst` are only used when the variable is a state variable. Can we move the information to  `StateVariableDeclaration`? Besides, `StateVariableDeclaration` will always have one `VariableDeclaration` object.

I guess we can refactor

[2019-04-20 19:19] yxliang01 opened #61 "[Question] what is definition of ExpressionStatement ?"
Is it formally defined as an expression which is also a statement?

[2019-04-22 12:45] federicobond commented on #61
It's really up to us, but I would not like to stray too far from the official AST output produced by `solc`.

[2019-04-22 12:51] federicobond commented on #60
Yes, it could be simplified, but the official AST output from `solc` uses the same node type for all of them AFAIK and I could not find a strong enough case for doing things differently.

If you have a specific use case in mind that could benefit from this change I would be open to considering it.

[2019-04-22 13:43] yxliang01 commented on #61
@federicobond Hmm so for the current implementation what kinds of code will be transformed to a `ExpressionStatement` AST node type?

[2019-04-22 15:37] Leeleo3x commented on #60
I see. It is reasonable to have the same output as `solc` parser.

Thanks!

[2019-04-22 15:37] #60 closed

[2019-04-22 15:54] yxliang01 commented on #60
However, the current AST format is very different from `solc`'s though?

[2019-04-22 18:37] federicobond commented on #60
It is, and that is a little bit problematic. I would like to bring it closer over time.

[2019-05-03 11:30] obernardovieira opened #62 "MemberAccess does not return parameters"
According to https://solidity.readthedocs.io/en/v0.5.8/contracts.html#libraries we can call a library method like `Set.insert(knownValues, value)`. We may want to call something like `Set.calculate(value1, value2)`, which would return another value.

The problem is, solidity-parser-antlr is returning this as a `MemberAccess`, which is correct, but then it does not give the parameters.
It does appe

[2019-05-03 14:17] federicobond commented on #62
Hi @obernardovieira just checked your example and the output looks correct. The expression from your first example looks like this:

[code]

It's a function call whose target expression is a MemberAccess for the member `insert` of the expression `Set`. The information of the parameters is available in the arguments key of the FunctionCall node.

[2019-05-03 14:24] obernardovieira commented on #62
:man_facepalming: you right. I misunderstood the result. Sorry.

[2019-05-03 14:24] #62 closed

[2019-05-03 14:26] federicobond commented on #62
No worries.

[2019-05-07 15:07] yxliang01 opened #63 "type: ASTNode types have incorrect optional properties"
There are some properties of `ASTNode` types declared as optional via adding `?` to ``PROPERTY_NAME` (`PROPERTY_NAME?`). However, marking optional in this way results in saying such property having value `TYPE | undefined | null` while they are in fact of type `TYPE | null` (or correct me if wrong). e.g. https://github.com/federicobond/solidity-parser-antlr/blob/f0ef77034c467c06c383b621aa305093af3

[2019-05-10 09:31] Leeleo3x commented on #63
It is true. Will this introduce any side effect?

[2019-05-10 14:09] yxliang01 commented on #63
I see. Side effect as in? @Leeleo3x

[2019-05-25 13:20] yxliang01 opened #64 "type: simplify Visitor definition"
The definition of `Visitor` interface is very long and error-prone that it might(or, have already) lost update with changes made on `ASTNode`. It's better to automatically generate at least some of the attribute of the `Visitor` interface if possible. Currently, I can't think of a solution yet. @Leeleo3x Maybe you have some idea?

[2019-05-26 14:59] Leeleo3x commented on #64
It is true that maintaining the typings for a javascript library is tedious and error-prone. I don't know any good solution for this. Rewriting the whole project in Typescript could be a solution and you may want to check antlr4ts https://www.npmjs.com/package/antlr4ts.

[2019-06-07 08:34] obernardovieira commented on #20
I see it's related to #10
Is this still open? I'm also interested. I had a look at the .g4 file and there's something there about the natspec. Is it working?
I started my own parser, but this approach is much smarter.

[2019-06-07 15:37] federicobond commented on #20
Yes, it's still open. Ideally, we would be able to attach a NatSpec key to AST nodes that have one, with all the properties already parsed.

[2019-06-10 18:03] obernardovieira commented on #20
So, can I open a PR with @chmanie's code and try to make it work?

[2019-06-10 19:24] federicobond commented on #20
Sure! Go ahead.

[2019-06-13 19:07] fvictorio opened #66 "Strings with escaped quotes"
Parsing this code:

[code]

gives this AST:

[code]

Notice the node corresponding to the string literal:

[code]

The value doesn't seem right, does it? I would expect it to be:

[code]

[2019-06-13 20:38] federicobond commented on #66
Yes, you are right. We would need to handle single and double quote unescaping to transform the value properly though. Can you open a pull request to do that?

[2019-06-14 03:25] Janther opened #67 "Add support for modifier-style constructor calls"
The modifiers constructor calls don't have any difference with modifier calls in the `ModifierInvocation` AST node.

[code]

I would suggest adding an attribute `isConstructorCall` similar to `isConstructor` in `FunctionDefinition`

[2019-06-14 11:11] Janther opened #68 "storageLocation missing in VariableDeclaration within VariableDeclarationStatement"
in the following code:
[code]
the first `bytes memory returndata` AST node is:
[code]

the second `bytes memory returndata` AST node is:
[code]
notice that there's a `storageLocation` variable missing.

[2019-06-14 11:26] federicobond commented on #67
Hi @Janther, thanks for the suggestion! Unfortunately, I don’t see a way of distinguishing between the two without doing some form of name resolution, which is out of the scope of this PR. As far as syntax goes, Solidity made no difference between those two cases, so you would need to process the AST and annotate it with your extra information if you want to do it.

[2019-06-14 11:40] Janther commented on #67
the problem I'm facing in prettier-solidity is that:
[code]

is processed as
[code]
by prettier-solidity.
Notice how `ERC721Mintable` has no parentheses because the argument list is 0.
This causes a compiler error.
Perhaps the parser could let us know that the modifier has empty parentheses would be enough (still not optimal but better than checking for an uppercase letter in the name).

[2019-06-14 11:44] federicobond commented on #68
Thanks for reporting this. Pushing a change that fixes it now. Please test it and let me know if you have any problems.

[2019-06-14 11:44] #68 closed

[2019-06-14 11:54] federicobond commented on #67
I see, would the problem be solved if I returned `arguments: null` for no parentheses and `arguments: []` in the other case?

[2019-06-14 11:55] Janther commented on #67
I can work with that.

Thank you

[2019-06-14 12:40] Janther commented on #68
this worked perfectly

[2019-06-14 12:54] federicobond commented on #67
Just pushed https://github.com/federicobond/solidity-parser-antlr/commit/1099a16d3699c15ac0e63a050f61a45ccc9ff84f to master which addresses this issue. Let me know if it works.

[2019-06-14 12:54] #67 closed

[2019-06-14 14:17] Janther commented on #67
it works :)

[2019-06-14 15:56] fvictorio commented on #66
I can give it a try as soon as I have some time, sure!

[2019-06-17 15:00] andremedeiros opened #70 "ImportDeclaration type definition missing"
`ImportDeclaration` is defined as a type, but it's missing a declaration.

[2019-06-17 18:08] federicobond commented on #70
Hi, thanks for reporting this. Would you be able to submit a PR fixing this?

[2019-06-17 21:12] andremedeiros commented on #70
Oh, absolutely!

[2019-06-17 21:45] andremedeiros commented on #70
Fixed that issue, and also submitted a PR fixing another small one.

[2019-06-17 23:44] #70 closed

[2019-06-18 13:58] andremedeiros opened #74 "Augment the `Parameter` type"
This isn't as much a request, but it's more for me to track (PR will be incoming.)

Basically, the `Parameter` type, as defined [here](https://github.com/federicobond/solidity-parser-antlr/blob/master/index.d.ts#L172-L178) should be more of an alias, as it's really not represented in the AST like this.

For instance, to represent an event declaration node, you would use something like this:

[code

[2019-06-18 17:42] federicobond commented on #74
Yes, in fact `Parameter` is one of those nodes added to the type definition that are not present in the AST. It should be replaced by the actual node types returned in that case.

[2019-06-18 23:10] andremedeiros commented on #74
Seems like I was mistaken. ParameterList can contain type `Parameter` or type `VariableDeclaration`.

So far what I have is:

[code]

Expect a PR tonight or tomorrow am.

[2019-06-20 20:48] #74 closed

[2019-06-20 20:55] federicobond opened #76 "Drop ParameterList and Parameter node types"
As mentioned [here](https://github.com/federicobond/solidity-parser-antlr/pull/75#issuecomment-503396700) I am considering dropping the ParameterList and Parameter node types, and replacing them with VariableDeclaration (or list of VariableDeclaration).

I know this is a breaking change for at least `prettier-solidity`, so I would love input from @mattiaerre and @Janther. The reality is that those

[2019-06-20 22:32] Janther commented on #76
I'm happy with this change.
the code is now very modular so removing `ParameterList` and `Parameter` and replacing them with `VariableDeclaration` will only mean for us to remove those files and check how does printing a variable declaration differs from printing a parameter.
Will have to give this a go once I see the AST against our tests but they are extensive enough that will give us most use c

[2019-06-21 00:28] federicobond commented on #76
Opened https://github.com/federicobond/solidity-parser-antlr/pull/77 with the changes.

[2019-06-30 07:42] yxliang01 opened #78 "docs: document the loc attribute"
In `README.md`, there should be documentation for the `loc` attribute. e.g. `column` number starts from `0` while `line` starts from `1`. Also, indicate whether the semi column is counted.

[2019-07-02 08:53] ryanchristo commented on #20
Hey there @obernardovieira and @federicobond!

I wrote a script to parse natspec comments in one of our projects:
https://github.com/JoinColony/colonyNetwork/blob/develop/scripts/docgen.js

It's specific to our project at the moment but it might help with some ideas.

[2019-07-02 10:16] obernardovieira commented on #20
Hello @ryanchristo thank you.
I think the PR is now finished. Have a look, please.

[2019-07-11 00:18] cgewecke opened #79 "Parse error when using underscores in numbers"
(Originally reported in [solidity-coverage 321](https://github.com/sc-forks/solidity-coverage/issues/321))

This compiles on remix (solc 0.5.10) ...
[code]

.. but the parser throws with:
[code]

[Natural language description](https://github.com/ethereum/solidity/pull/4684/files#diff-64a4841069b13331da3813eb44e736b4) of the rule at the PR which introduced this syntax.

:wave: Hi @federicobond

[2019-07-11 04:26] federicobond commented on #79
Hi @cgewecke, nice to see you again! I just pushed a fix to the project, can you test with latest master?

[2019-07-11 06:45] cgewecke commented on #79
@federicobond Yes works! Thank you.

[2019-07-11 17:44] cgewecke commented on #79
@federicobond, Apologies, I didn't test this fix thoroughly enough. Have found it's throwing an error in a [zeppelin contract](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/crowdsale/distribution/RefundableCrowdsale.sol#L63-L74) at this function:
[code]

Error is:
[code]

This is the change.
[code]

[2019-07-11 21:00] federicobond commented on #79
Can you check now with `master`?

[2019-07-11 22:01] cgewecke commented on #79
@federicobond Yes, that works, thanks so much. It's passing a [Zeppelin E2E](https://circleci.com/gh/sc-forks/solidity-coverage/720) on my side.

[2019-07-11 22:09] federicobond commented on #79
Great, a release should follow up soon.

[2019-07-11 22:09] #79 closed

[2019-07-16 17:06] justinjmoses opened #80 "Can't read property expressionList of null"
This came up via eth-gas-reporter (via https://github.com/cgewecke/eth-gas-reporter/issues/153) which depends on `^0.4.2` of this package. They recently recreated their lockfile and upgraded to `0.4.6` and in that change, the following error is produced:

[code]

It is mapping to this line of source: https://github.com/federicobond/solidity-parser-antlr/blob/master/src/ASTBuilder.js#L327 which die

[2019-07-16 17:24] federicobond commented on #80
Hi there, version 0.4.6 had a bug in the grammar which was fixed later but not yet published. I have just  published 0.4.7 which should include the fix.

[2019-07-16 17:24] #80 closed

[2019-08-03 00:03] #66 closed

[2019-08-03 13:02] #10 closed

[2019-08-03 13:03] #20 closed

[2019-08-04 06:01] #76 closed

[2019-08-04 07:16] Janther opened #82 "Natspec feature throwing errors in natspec not attached to functions"
when running the latest code of master against openzepellin contracts there are many errors because of the natspec feature.

for example when running it against `contracts/mocks/ERC165/ERC165InterfacesSupported.sol` I get these errors.

[code]

my guess is that probably the current rules only consider natspec for functions, contracts, libraries, and interfaces (notice that the constructor is a val

[2019-08-04 15:43] federicobond commented on #82
Cool, this is exactly the kind of feedback I wanted to get before publishing 0.5.0. Thank you @Janther!

I'll try to look into this in the next days, but I don't have much time. Pinging @andremedeiros if he wants to check this out too.

[2019-08-04 16:15] Janther commented on #82
on the top of my mind, the nodes that are direct child of `ContractDefinition`, and therefor very likely to get an `@dev` or an `@notice`, are:
- `EnumDefinition`
- `EventDefinition`
- `FunctionDefinition` (constructors also fall here)
- `ModifierDefinition`
- `StateVariableDeclaration`
- `StructDefinition`
- `UsingForDeclaration`

I hope this helps.

[2019-08-26 16:06] #78 closed

[2019-08-29 08:37] blitz-1306 opened #84 "Support inheritance specifier with optional arguments"
## Brief
Solidity allows to specify arguments in the inheriance specifiers with parens. However, empty parens are also allowed (compiled tested on Remix IDE). Unfortunately, **solidity-parser-antlr** is failing to parse it.

It seems to be caused by the [`inheritanceSpecifier` grammar rule](https://github.com/solidityj/solidity-antlr4/blob/1cf62f3c7cc1151195bd0374ae344494f0245daa/Solidity.g4#L40-L

[2019-08-29 15:30] federicobond commented on #84
Thank you for the report! Version `0.4.9` is out now and should include a fix for your problem.

[2019-08-29 15:30] #84 closed

[2019-08-29 20:03] alcuadrado commented on #82
Hi Fede  👋🏻

Was this released in the latest version?

I've been contacted by one of Aragon's engineers to tell me that [their CI broke](https://travis-ci.org/aragon/dao-templates/jobs/578445438#L850) because `solidity-parser-antlr` fails to parse  [this file](https://github.com/aragon/aragonOS/blob/c3508233f0a885579d17724b5d2ff47c3cacb897/contracts/apps/AppProxyUpgradeable.sol). The error message

[2019-08-29 20:34] federicobond commented on #82
Yes, I messed up the latest release, sorry! I created the `stable` branch here to continue the `0.4.x` series without having to worry about NatSpec problems, but I did not choose the right `solidity-antlr` tip. There should be a stable branch there too without NatSpec changes.

I don't have much time today, but if you can help me out we should be able to get this solved by rebuilding the stable br

[2019-08-29 20:39] federicobond commented on #82
Well, I think I got it fixed in `0.4.11`. Can you check with the Aragon folks?

[2019-08-29 21:34] alcuadrado commented on #82
It works now :) Thanks @federicobond !

[2019-09-07 03:44] naddison36 opened #86 "`UnaryOperation` expression type missing from type definitions"
See line 104 of IDEX's Exchange contract verified on Etherscan https://etherscan.io/address/0x2a0c0DBEcC7E4D658f48E01e3fA353F44050c208#code
[code]
This has an expression type of `UnaryOperation`

[2019-09-07 05:59] yxliang01 commented on #86
Yes. This is confirmed. Example `UnaryOperation` formation is at https://github.com/federicobond/solidity-parser-antlr/blob/918b74290b783f3aae7ba690c7163427e70df51c/test/ast.js#L699 .

[2019-09-08 05:46] naddison36 opened #87 "`NewExpression` expression type missing from type definitions"
An example is
[code]

[2019-09-10 18:32] kerzhner opened #88 "Parses error with arrays with ABIEncoderV2"
We are seeing a parse error with valid solidity when decoding an array of structs. If `Item` is a struct, the following errors:
[code]
The error is `ParserError: missing ';' at`...

There is *no* error with non-array decoding:
[code]

We are using version 0.4.11 via the `prettier-plugin-solidity` package.

[2019-09-10 19:19] andrewgordstewart commented on #88
I created a fairly minimal example of the issue here. Note that I had to modify @kerzhner's example a little.

https://gist.github.com/andrewgordstewart/6fa284c4ef02e4b7063fbbba7a5f8594

If you put the three contracts into three separate files, then
- `ItemDefiner` and `ValidItemChecker` both compile, but `InvalidItemChecker` does not.
- `ItemDefiner` and `InvalidItemChecker` can be parsed, but `V

[2019-09-10 19:38] federicobond commented on #88
Thanks for the report. I already fixed this in the grammar, and I am working on a fix the JS parser. It may take some time before it bubbles up to `prettier-solidity` though, as I had to make some backwards incompatible changes in the AST.

[2019-09-27 19:46] yxliang01 opened #89 "feat(visitor): support early termination"
It's often that when we have visited interested nodes, the exploration doesn't need to continue. So, it would be great if early termination is supported. I'm thinking to define a class that users can throw inside the visitor. Then, the visitor function catches it and terminate normally. If this sounds good, I can contribute. :)

[2019-10-02 19:26] obernardovieira commented on #82
Hey,
Can you guys extract the natspec? It seems like it's not working. I took an example from a test and does not work

[code]

[2019-10-04 09:35] Janther commented on #82
As far as I know, the Natspec feature was put on hold until this issue is solved.
The comments about this getting fixed in `0.4.11` were because the feature was published by mistake and removed with `0.4.11`.

[2019-10-04 14:19] obernardovieira commented on #82
hmm,
Well, I coded most of it when it was first merged. But I think, the problem is because the wrong ANTLR code was merged. The code merged wasn't mine, so it didn't work together. @federicobond
**_As a reference:_**
* https://github.com/federicobond/solidity-parser-antlr/commit/2273972a655e10cf53c8ac8a9ded5c1f9e87fca6
* https://github.com/federicobond/solidity-parser-antlr/pull/71
* https://gith

[2019-10-12 00:33] cgewecke opened #90 "Non-ascii characters corrupt the range data"
(Originally reported at [solidity-coverage 418][1])

("corrupt" might be overdramatizing this a little.)

It looks like ranges are calculated by character count rather than string length, and non-ascii characters are 'wider' than length 1. This can introduce unexpected drift if you're using the parser to identify string injection points when modifying source files.

**Ascii: length 36**
[code]

**

[2019-10-12 03:05] federicobond commented on #90
What you are saying is that I am giving out a unicode character range instead of a byte range? Or vice-versa?

[2019-10-12 03:23] cgewecke commented on #90
@federicobond

Yes,  I think that's right. You're counting unicode while JS string methods count bytes.

In the examples above, the range for `uint`  is:
[code]

And running...
+ ascii.slice(0,31) ends on `t`;
+ nonAscii.slice(0,31) ends on `n`;

[2019-10-12 03:35] federicobond commented on #90
Interesting catch. I am only copying the character ranges returned by the ANTLR parser. I just found out that there was a deprecation due to the treatment of UTF-8 in the ANTLR JS target. Can you try making [this same change](https://github.com/antlr/antlr4/commit/30836a47c5fc984b9f9db39e710ae9e59f616eb8#diff-636e826080ddc8bda232dd9f18779675) in `src/index.js` and see if it fixes it?

[2019-10-12 03:46] cgewecke commented on #90
@federicobond Yes! That looks good.

This is the diff from test asserting the ascii/non-ascii ASTs are deep equal.
[code]

[2019-10-31 03:44] yz1019117968 opened #92 "Some bugs"
1. cannot denote '++', '--'.
2. the variable initialization in for loop cannot denote its '='.
3. modifier invocation is always placed at the end of function.
Thanks!
Maybe some are just my own erorrs, anyway, thanks so much for your great contributions in solidity AST traversal for us developers!

[2019-10-31 13:26] yxliang01 commented on #92
@yz1019117968 Do you have any file exhibiting the problems? I have tried with first, it worked perfectly. Also, what does the third one mean?

[2019-10-31 14:35] yz1019117968 commented on #92
Yes, sorry, there's no fault in the first one.
For the rest two:
{"type":"SourceUnit","children":[{"type":"PragmaDirective","name":"solidity","value":"^0.4.18"},{"type":"ContractDefinition","name":"Ownable","baseContracts":[],"subNodes":[{"type":"FunctionDefinition","name":"transferOwnership","parameters":[{"type":"VariableDeclaration","typeName":{"type":"ElementaryTypeName","name":"address"},"nam

[2019-10-31 16:30] yxliang01 commented on #92
For second, `initialValue` object is the one you are looking for.
For third, what is the problem you are encountering in particular?

[2019-11-09 20:16] yxliang01 commented on #36
The `getText` method shown in the example looks pretty useful :)

[2019-11-10 05:15] Alonski commented on #88
@federicobond I would also love this to be fixed :)
Has there been any progress on this?
Thanks!

[2019-11-14 17:06] fvictorio opened #94 "Tokenize function is not working"
Using version `0.4.11`.

Reproduction steps: install the library and run:

[code]

Throws this error:

[code]

## Possible fix

I cloned the repo and made two modifications:

1. Change the build script to `rm -rf dist && babel --out-dir=dist src --copy-files` (adds `--copy-files`)
2. In `src/tokens.js`, make this change:

[code]

This worked for me, but I'm not sure if it may have another implicat

[2019-12-06 18:26] fernandomg opened #95 "`parse` fails to parse empty files with `{ loc: true }` option"
Hello Federico,

First of all, thank you so much for this fantastic parser!

The issue I'm facing has to do with the `parse` function and the `loc` option set to `true`, if I pass a file without _parseable_ solidity code in it `parse` throws an error.

I tested the same scenario with `tokenize` and it worked fine.

Here is the code to reproduce the scenarios:
[code]

And this is the output of runn

[2019-12-26 09:17] gitpusha opened #96 "solc 0.6.0 array slicing syntax for calldata arrays does not compile"
Hi everyone,

I am referencing this issue that I wrongly opened in the `solc-js` repo, even though it should rightly belong here.

https://github.com/ethereum/solc-js/issues/437

Should be of relevance to you.

Happy New Year!

[2020-01-05 14:27] Eriiond opened #98 "0.6.0: Support try/catch syntax"
Hey,

please support parsing of the new try/catch syntax in solidity 0.6.0 (https://solidity.readthedocs.io/en/v0.6.0/control-structures.html#try-catch).

Thank you very much.

[2020-01-10 12:13] GNSPS commented on #98
Hey @Wolf-Rost !

The ConsenSys Diligence team has just taken up maintenance of the parser. Find an updated 0.6.0 version here: https://github.com/consensys/solidity-parser-antlr

[2020-01-10 12:14] GNSPS commented on #96
Hey @gitpusha!

The ConsenSys Diligence team has just taken up maintenance of the parser. Find an updated 0.6.0 version here: https://github.com/consensys/solidity-parser-antlr

[2020-01-10 15:55] federicobond commented on #98
@GNSPS, I would have appreciated at least a shoutout and a friendly pull-request before forking the project.

[2020-01-11 01:42] GNSPS commented on #98
Hey @federicobond! 👋

I'm sorry that this seems to come out of the blue but I did try to reach out to you on Gitter. And looked for activity in the repo way before making the decision.

<img width="617" alt="Captura de ecrã 2020-01-11, às 01 38 22" src="https://user-images.githubusercontent.com/4008213/72196895-7b8bbd80-3413-11ea-87f0-ae53e4c14375.png">

Our team has a bunch of tools dependent on

[2020-01-23 19:14] fvictorio commented on #98
Hi, we are working on a new major version of solhint and one of the changes we've done was to migrate from using [`https://github.com/solidityj/solidity-antlr4`](https://github.com/solidityj/solidity-antlr4) directly to using `solidity-parser-antlr`. We found some issues while doing this (#94, #95, and others we didn't open) and so right now we are using a [fork](https://github.com/fvictorio/solid

[2020-04-01 07:35] lhz516 opened #103 "Cannot get parsed ast correctly in production"
In development, `parser.parse(code)` returns the correct value
![image](https://user-images.githubusercontent.com/9879279/78110683-48bcea00-73b0-11ea-9f91-9fb6fa324e2d.png)

but in production, it returns `{type: "p"}` which doesn't make any sense. I built it with `vue-cli`

![image](https://user-images.githubusercontent.com/9879279/78110700-4fe3f800-73b0-11ea-8529-7ad1db635032.png)

Do you have an

[2020-04-01 07:58] lhz516 commented on #103
I did some investigation and found it's because my webpack changed variable names and it caused the constructor name changed.
![image](https://user-images.githubusercontent.com/9879279/78112718-78212600-73b3-11ea-8eab-e76b075b75c6.png)

I'm wondering if there's any better way to get `ctx.constructor.name` here:

https://github.com/federicobond/solidity-parser-antlr/blob/ca5da9b0d11c96c6d79d7fbe3a8

[2020-04-01 23:32] Janther commented on #103
If you are using `terser-webpack-plugin` I suggest keeping function names.

[code]

[2020-04-01 23:44] Janther commented on #103
Having said that, the fact that this plugin is so dependant on the function names to be left alone is an issue, but I'm unsure how much work it'll be needed to refactor this.

[2020-04-02 05:42] lhz516 commented on #103
Overwriting `terserOptions` resolved the issue. However, the bundle size increased.

Anyways, it's not blocking me anymore. Thanks!

[2020-04-02 05:42] #103 closed, assigned to nobody

[2020-04-03 22:08] naddison36 opened #104 "Failing to parse abstract contracts in Solidity 0.6"
The parser is not handling the new `abstract` keyword introduced with Solidity 0.6 and is failing with
[code]

You can see an example in this contract
https://etherscan.io/address/0x92d861ebf39661f22eaae05fedcbf31989b17e45#code

[2020-08-06 13:41] axic opened #106 "ANTLR grammar in the Solidity repository"
Since the Solidity repository maintains the ANTLR grammar which originated from here and it is kept up to date with the language, perhaps it would make sense considering to use that?

See https://github.com/ethereum/solidity/issues/8482

[2020-09-04 16:02] fvictorio commented on #106
@axic I'm maintaining [a fork](https://github.com/solidity-parser/parser) of this project that is used by many tools in the ecosystem ([buidler](https://github.com/nomiclabs/buidler/), [solhint](https://github.com/protofire/solhint/), [solidity-coverage](https://github.com/sc-forks/solidity-coverage/), [eth-gas-reporter](https://github.com/cgewecke/eth-gas-reporter), [prettier-solidity](https://gi